<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Editor</title>
	<script
		src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
		crossorigin="anonymous">
	</script>
	<script
		src="/static/script/jquery-3.5.1.min.js">
	</script>
	<script src="/static/script/nouislider.min.js"></script>
	<link rel="stylesheet" href="/static/css/edit_style.css">
	<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/dot-luv/jquery-ui.css">
	<link rel="stylesheet" href="/static/css/nouislider.min.css">
</head>
<body>

<div id="resizable" class="ui-widget-content">
	<video class="video" loop muted src="{{video_url}}"></video>
	<canvas id="canv"></canvas>
</div>

<div class="hide_until_load hidden">
	<span class="current_time"></span>
	<div class="slider_wrapper">
		<div id="slider"></div>
		<div class="slider_time_pos"></div>
	</div>
	Start: <input type="number" class="slider_control" data-pos="0" value="0" title="Start" />
	End: <input type="number" class="slider_control" data-pos="1" value="1" title="End" />
	<button class='play_toggle' onClick="pause_toggle()">&#10074;&#10074;</button>
	<label for="mute_toggle">Mute:</label><input type="checkbox" id="mute_toggle" checked />

	<div class="box_body">
	</div>

	<input type="button" id="add_box" value="Add Box"/>
	<input type="button" id="start_bluring" value="Download"/>

	</div>

</div>

<script src="/static/script/edit_control.js"></script>
</body>
</html>
