<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
  <script src="/static/script/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Auto Blurring Service</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href='/search'>Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/logout'>Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="upload-background">
        <!--Only can upload video files-->
        <input type="file" name="uploadfile" id="btn_file" hidden='hidden' accept="*" value="">
        <div class="add_btn" id='add'></div>
        <div class='upload_text' id='texts'></div>
        <div class="succ" id="succ"></div>
    </div>
  <div class="op" align="center">
        <div id="upload" class='upload_btn'></div>
  </div>
  {{ uservideos|safe }}
  <!--Here is the div which show the videos which user has.
  Here I got some hard which how to show the video, we need a git or picture to some the brief introduction of every videos, so how to deal with the upload videos is very important now.
  The Details can be found on youtube, every videos has there own brief introduction picture or git.
  -->
  <script>
      var filename;
      $('#add').click(function() {
          $('#btn_file').click();
      });
      $('#upload').click(function() {
          var myfile = $('#btn_file')[0].files[0];
          var formdata = new FormData();
          formdata.append('name', filename);
          formdata.append('file', myfile)
          $.ajax({
              url: 'upload',
              type: 'post',
              processData: false,
              contentType: false,
              data: formdata,
              success: function(data) {
                  var href = window.location.href.trim().split('/')
                  href = href.join('/') + "process/" + data

                  window.location.href = href;
                  console.log(data)
              }
          })
      });
      $('#btn_file').on("change", function() {
          var file = $('#btn_file').val();
          var strFileName = file.replace(/^.+?\\([^\\]+?)(\.[^\.\\]*?)?$/gi, "$1");
          var FileExt = file.replace(/.+\./, "");
          $('#texts').hide();
          var target = $("#succ");
          filename = strFileName + '.' + FileExt;
          target.html(filename);
          $('#succ').show();
      })
  </script>




  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
