<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/script/jquery-3.5.1.min.js"></script>
</head>

<body>
    <div class="topbar">
        <img src="static/img/logo.png" class="logo"> {{ logs|safe }}
        <!--
            If user login, the session will be set and here will some the welcome back and logout button
            If user not login, the session doesn't exist, and here will show the login and sign up buttons.
        -->
    </div>
    <div class="upload-background">
        <!--Only can upload video files-->
        <input type="file" name="uploadfile" id="btn_file" hidden='hidden' accept="*" value="">
        <div class="add_btn" id='add'></div>
        <div class='upload_text' id='texts'></div>
        <div class="succ" id="succ"></div>
    </div>
    <div class="op" align="center">
        <div id="upload" class='upload_btn'></div>
    </div>
    {{ uservideos|safe }}
    <!--Here is the div which show the videos which user has.
    Here I got some hard which how to show the video, we need a git or picture to some the brief introduction of every videos, so how to deal with the upload videos is very important now.
    The Details can be found on youtube, every videos has there own brief introduction picture or git.
    -->
    <script>
        var filename;
        $('#add').click(function() {
            $('#btn_file').click();
        });
        $('#upload').click(function() {
            var myfile = $('#btn_file')[0].files[0];
            var formdata = new FormData();
            formdata.append('name', filename);
            formdata.append('file', myfile)
            $.ajax({
                url: 'upload',
                type: 'post',
                processData: false,
                contentType: false,
                data: formdata,
                success: function(data) {
                    var href = window.location.href.trim().split('/')
                    href = href.join('/') + "process/" + data

                    window.location.href = href;
                    console.log(data)
                }
            })
        });
        $('#btn_file').on("change", function() {
            var file = $('#btn_file').val();
            var strFileName = file.replace(/^.+?\\([^\\]+?)(\.[^\.\\]*?)?$/gi, "$1");
            var FileExt = file.replace(/.+\./, "");
            $('#texts').hide();
            var target = $("#succ");
            filename = strFileName + '.' + FileExt;
            target.html(filename);
            $('#succ').show();
        })
    </script>
</body>

</html>