{% block content %}

<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/script/jquery-3.5.1.min.js"></script>
</head>
<div class="topbar">
    <img src="/static/img/logo.png" class="logo" onclick="location.href='/'">
</div>
<div class="container">

    <img src="/static/img/login_img.png" class='login'>

    <form method="POST" action="{% url 'login'%}">
        {% csrf_token %}
        <br>
        <input name="username" type="text" placeholder="Username" class='logininput'>
        <br>
        <input name="password" type="password" placeholder="Password" class='logininput' autocomplete='off'>
        <br><br>
        <input type="submit" class="loginbtn" value="login">
    </form>
    <p>Or click<a href="{% url 'signup'%}" style='text-decoration:none'> Here</a> to sign up!</p>
</div>
{% endblock %}